#header {
	width: 100%;
	/* padding: 0 15px; */
	height: 130px;
	background-color: #413a35;
	position: relative;
}

#Contacts {
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}

#Contacts .large {
	font-size: 27px;
	font-weight: 600;
}

#nav-main {
	padding: 20px 0;
	background-color: rgba(255, 197, 1, 1);
}

#nav-main a {
	cursor: pointer;
	padding: 0 20px;
	color: #312c21;
	font: 400 18px 'Roboto', sans-serif;
    border-left: 1px solid rgba(65, 58, 53, 1);
}

#nav-main li:first-of-type>a {
    border-left: none;
}

#Call-back {
	display: block;
	border-radius: 0;
	padding: 16px 40px;
	font: 600 17px/1.48 'Roboto', sans-serif;
	border: 0.7px solid rgba(49, 44, 33, 1);
	cursor: pointer;
	color: rgba(49, 44, 33, 1);
}

#Call-back:hover {
	background-color: transparent;
}

#main-intro {
	width: 100%;
	height: 40rem;
	background-color: rgba(49, 44, 33, 1);
	background-image: url('../img/headerbgd.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.carousel {
	top: 150px;
}

.carousel-inner {
	width: 75%;
	height: 70%;
}

.carousel-indicators {
    bottom: -70px;
}

.intro-title {
	max-width: 1015px;
	font-size: 52px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.intro-text {
	display: block;
	width: 50%;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.carousel-indicators [data-bs-target]  {
	margin: 0 10px;
	width: 25px;
	height: 20px;
	border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 5rem;
  height: 5rem;
}

.carousel-item {
	padding: 1rem;
	background-color: rgba(49, 44, 33, 0.5);
}

.carousel-item .btn {
	display: inline-block;
	background-color: #ffc501;
	padding: 25px 90px;
	margin-top: 25px;
	font: 600 17px/1.48 'Roboto', sans-serif;
	border: 0.7px solid transparent;
	cursor: pointer;
	color: rgba(49, 44, 33, 1);
	font-size: 30px;
	font-weight: 600;
	color: #312c21;
}

.products-title {
	margin-top: 135px;
	margin-bottom: 85px;
	background-color: #ffc501;
	position: relative;
}

.products-title::before{
	content: " ";
	background-color: #ffc501;
	height: 103px;
	width: 100vw;
	position: absolute;
	left: -100vw;
	top: 0px;
}

.products-title-text {
	padding: 20px 65px 20px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 54.83px;
	text-align: left;
}

.products-items {
	padding: 12px;
}

.card {
	border: 0.5px solid rgba(37, 35, 28, 1);
	border-radius:0;
	padding: 10px;
	box-sizing:border-box;
	justify-content: space-between;
}
 
.item-btn {
	width: 100%;
	display: inline-block;
	background-color: #ffc501;
	padding: 20px 120px;
	margin: 15px 0;
	border: 0.7px solid transparent;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 29.3px;
}

.about-us-wraper {
	width: 100%;
	margin-top: 115px;
	background-color: #ffc501;
}

.about-us-title {
	margin-top: 95px;
	background-color: #fff;
	align-self: flex-start;
	position: relative;
}

.about-us-title::before{
	content: " ";
	background-color: #fff;
	height: 95px;
	width: 100vw;
	position: absolute;
	left: -100vw;
	top: 0px;
}

.about-us-title-text {
	padding: 20px 65px;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 54.83px;
}

.about-us-items {
	margin-top: 85px;
	margin-bottom: 150px;
}

.about-us-item {
	height: 240px;
	width: 240px;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
}

.about-us-list {
	display: block;
	padding: 0 40px;
}

.about-us-list-item1 {
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
	font-weight: 500;
	line-height: 32px;
}

.about-us-list-item2 {
	font-family: 'Oswald', sans-serif;
	font-size: 34px;
	font-weight: 600;
	line-height: 50px;
	color: #ffc501;
}

.about-us-list-item3 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
}

.about-us-item-bg1 {
	background-image: url(../img/About-us1.png);
}

.about-us-item-bg2 {
	background-image: url(../img/About-us2.png);
}

.about-us-item-bg3 {
	background-image: url(../img/About-us3.png);
}

.about-us-item-bg4 {
	background-image: url(../img/About-us4.png);
}

.about-us-item-bg5 {
	background-image: url(../img/About-us5.png);
}

/* Benefits */

.benefit-wraper {
}

.benefit-title {
	margin-top: 115px;
	background-color: #ffc501;
	align-self: flex-start;
	position: relative;
}

.benefit-title::before{
	content: " ";
	background-color: #ffc501;
	height: 103px;
	width: 100vw;
	position: absolute;
	left: -100vw;
	top: 0px;
}

.benefit-title-text {
	padding: 20px 65px;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 54.83px;
}

.benefit-items {
	margin-top: 90px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 35px;
}

.benefit-item {
	border: 1px solid #312c21;
	height: 235px;
	width: 320px;
}

.benefit-list {
	display: block;
	padding: 25px;
	margin: 0;
}

.benefit-list-item1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 52px;
	font-weight: 600;
	line-height: 77px;
	color: #fff;
	text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
	list-unstyled
	/* -webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px; */
}

.benefit-list-item2 {
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 700;
	line-height: 22px;
	color: #ffc501;
}

.benefit-list-item3 {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}


/* .container-xxl {
	height: 300vh;
} */

@media(max-width:990px) {
	#nav-main a {
    border-left: none;
	padding-top: 1rem;
}
}