/* Reset start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #312c21;
	font: 400 18px/1.48 'Roboto', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

/* Reset end */
/* Default classes start*/

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-start {
	justify-content: start;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.hidden {
	display: none;
}

.container {
	max-width: 1380px;
	padding: 0 15px;
	margin: auto;
}

/* Default classes end*/

#header {
	width: 100%;
	padding: 0 15px;
	height: 130px;
	background-color: #413a35;
	position: relative;
}

#header .container {
	position: relative;
}

.nav-contacts {
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}

.logo {
	height: 49px;
}

.nav-contacts span {
	display: block;
	margin-left: 10px;
}

.nav-info {
	min-width: 100%;
	margin-top: 15px;
}

.nav-contacts .nav-contacts-item + .nav-contacts-item {
	margin-left: 40px;
}

.nav-contacts .nav-contacts-item:last-of-type {
	font-size: 27px;
	font-weight: 600;
	margin-left: 80px;
}

.nav-main {
	padding: inherit;
	min-width: 100%;
	position: absolute;
	background-color: transparent;
	height: 100px;
	top: 80px;
	right: 0;
}

.nav-main-inner {
	background-color: rgba(255, 197, 1, 1);
	height: 100%;
	padding: 0 35px;
}

.nav-main-item {
	text-transform: uppercase;
}

.nav-main-inner .btn {
	padding: 16px 40px;
	font: 600 17px/1.48 'Roboto', sans-serif;
	border: 0.7px solid rgba(49, 44, 33, 1);
	cursor: pointer;
	color: rgba(49, 44, 33, 1);
}

/* .btn:hover {
	background-color: #413a35;
	transition: 0.2s ease-in-out 0.1s;
} */

.btn span {
	display: block;
	margin-left: 10px;
}

.nav-main-item {
	padding: 0 20px;
}

.nav-main-inner .nav-main-item + .nav-main-item {
	border-left: 1px solid rgba(65, 58, 53, 1);
}

.main-intro {
	height: 715px;
	background-image: url(../img/headerbgd.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro-title {
	max-width: 1015px;
	font-size: 52px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.intro-text {
	display: block;
	width: 50%;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

.itcss__item .btn {
	display: inline-block;
	background-color: #ffc501;
	padding: 25px 90px;
	margin-top: 25px;
	font: 600 17px/1.48 'Roboto', sans-serif;
	border: 0.7px solid transparent;
	cursor: pointer;
	color: rgba(49, 44, 33, 1);
	font-size: 30px;
	font-weight: 600;
	color: #312c21;
}

/* inner */

/* .inner {
	position: relative;
} */

.products-title {
	margin-top: 135px;
	margin-bottom: 85px;
	background-color: #ffc501;
	align-self: flex-start;
}

.products-title-text {
	padding: 20px 65px;
	font-family: 'Oswald', sans-serif;
	font-size: 37px;
	font-weight: 400;
	line-height: 54.83px;
}

.products-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.product-item {
	border: 0.5px solid rgba(37, 35, 28, 1);
	padding: 30px;
}

.product-item-text {
	justify-items: start;
	align-self: flex-start;
}

.product-item-img {
	margin: -15px;
}

.item-title {
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 23.44px;
}

.item-parameter {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

.product-item .btn {
	width: 100%;
	display: inline-block;
	background-color: #ffc501;
	padding: 20px 120px;
	margin-top: 25px;
	border: 0.7px solid transparent;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 29.3px;
}
